@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter_18pt-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter_18pt-SemiBold.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter_18pt-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Lobster";
  src: url("../fonts/Lobster-Regular.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter";
}
body {
    color: #000000;
    background-color: #FFFFFF;
    width: 1440px;
    max-width: 1440px;
    margin: 0 0;
    padding: 0 0;
}
a {
    text-decoration: none;
    color: inherit;
}
button {
    cursor: pointer;
    border: none;
}
article{
    cursor: pointer;
}
.txt {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.6);
}
.container {
    display: flex;
    gap: 40px;
    align-items: start;
}

/* دکمه‌ها */
.btn-dark {
    background-color: #000000;
    color: #FFFFFF;
}
.btn-light {
    background-color: #E7FAFE;
    color: #000000;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1440px;
    height: 110px;
    padding: 40px 80px;
    border-bottom: 2px solid #0000001A;
}
.logo{
    font-size: 24px;
    font-weight: 400;
    font-family: "Lobster";
    color: #000000;

    display: inline-block;
    width: 110px;
    height: 30px;
    line-height: 1; 
}
.red-dot {
  color: rgb(255, 116, 38);
}
.nav a {
    margin: 0 30px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.02em;

    display: inline-block;
    max-height: 19px;
    line-height: 1; 
}
.social-icons {
    display: flex;
    gap: 40px;
}

/*menu*/
.menu-toggle {
    display: none;
    flex-direction: column;
    gap: 5px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1001;
    padding: 5px;
}
.menu-toggle span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #000000;
    transition: all 0.3s ease;
}

/* Header */
.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}
.section-header.center {
    flex-direction: column;
    text-align: center;
    margin-bottom: 24px;
}
.section-header h2 {
    font-size: 48px;
    font-weight: 600;
    letter-spacing: -0.04em;
}

/* Newsletter */
.newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 442px;
    background-color: rgba(231, 249, 253, 1);
    margin: 160px 80px;
    padding: 80px 330px;
    text-align: center;
    border-radius: 60px;
}
.newsletter h2 {
    width: 589px;
    height: 58px;
    font-weight: 600;
    font-size: 48px;
    letter-spacing: -0.04em;
    margin-bottom: 24px;
}
.newsletter p {
    width: 620px;
    height: 56px;
    margin-bottom: 64px;
}
.newsletter-form {
    display: flex;
    width: 480px;
    height: 80px;
    max-width: 480px;
    margin: 0 auto;
    background: #FFFFFF;
    padding: 10px;
    border-radius: 24px;

    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.02em;
}
.newsletter-form input {
    flex: 1;
    border: none;
    padding: 10px 20px;
    outline: none;
}
.newsletter-form button {
    font-weight: 600;
    padding: 21px 47px;
    border-radius: 16px;
}
.newsletter-img-right{
    position: relative;
    top: -160px;
    left: 465px;
    border-radius: 0 0 60px 0;
}
.newsletter-img-left{
    position: relative;
    top: -540px;
    left: -450px;
    border-radius: 0 0 0 60px;
}

/* Suggestion */
.suggestion-section {
    margin: 160px 80px
}
.sug-header{
    display: inline-flex;
    align-items: center;
}
.sug-headeer p{
    width: 620px;
    max-width: 620px;
    height: 56px;
    align-content: center;
}
.sug-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}
.sug-img {
    height: 200px;
    width: 290px;
    margin-bottom: 16px;
}
.sug-card h3{
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.04em;
    margin-bottom: 24px;
}
.card-meta{
    display: inline-flex;
    gap: 24px;
}
.card-tag{
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: rgba(0, 0, 0, 0.6);
}
.sug-card-img{
    position: relative;
    top: -280px;
    left: 0px;
}

/* Footer */
.footer {
    margin: 160px 80px 48px 80px;
}
.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
.footer-logo{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.footer-nav a {
    margin-left: 60px;
    display: inline-block;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.02em;
}
.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    padding-top: 48px;
    font-size: 14px;
}
.footer-bottom p{
    margin-left: 472px;
}

@media (max-width: 860px) {
    body {
        width: 100%;
    }
    .txt {
        font-size: 9px;
        line-height: 16px;
    }
    .container {
        gap: 24px;
    }

    /* Header */
    .header {
        width: 100%;
        padding: 40px 48px;
    }
    .menu-toggle {
        display: flex;
    }
    .social-icons {
        display: none;
    }
    .nav {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: -100%;
        width: 150px;
        height: 350px;
        background-color: #FFFFFF;
        padding: 80px 30px 20px 30px;
        box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
        transition: right 0.4s ease;
        z-index: 1000;
        gap: 20px;
    }
    .nav a {
        margin: 0; 
        font-size: 18px;
    }
    .nav a:first-child {
        margin-top: 50px;
    }
    .nav.active {
        right: 0;
    }
    .menu-toggle.open span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }
    .menu-toggle.open span:nth-child(2) {
        opacity: 0;
    }
    .menu-toggle.open span:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -6px);
    }
    .section-header h2 {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: -0
    }

    /* Newsletter */
    .newsletter {
        margin: 95px 48px;
        padding: 80px 100px;
        max-height: 392px;
    }
    .newsletter h2 {
        width: 349px;
        font-size: 28px;
    }
    .newsletter p {
        width: 367px;
        margin-bottom: 38px;
    }
    .newsletter-form button {
        font-weight: 600;
        padding: 21px 47px;
        border-radius: 16px;
    }
    .newsletter-img-right{
        width: 200px;
        height: auto;
        top: -31px;
        left: 271px;
        border-radius: 0 0 60px 0;
    }
    .newsletter-img-left{
        width: 200px;
        height: auto;
        top: -233px;
        left: -272px;
        border-radius: 0 0 0 60px;
    }

    /* Suggestion */
    .suggestion-section {
        margin: 95px 48px
    }
    .sug-headeer p{
        width: 367px;
        max-width: 367px;
        height: 56px;
        align-content: center;
    }
    .sug-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 12px;
    }
    .sug-img {
        width: 170px;
        height: auto;
    }
    .sug-card h3{
        font-size: 11px;
    }
    .card-meta{
        gap: 12px;
    }
    .card-tag{
        font-size: 10px;
    }
    .sug-card-img{
        width: 28px;
        height: auto;
        top: -230px;
        left: 130px;
    }

    /* Footer */
    .footer {
        margin: 95px 48px 48px 48px;
    }
    .footer-top {
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }
    .footer-logo {
        align-items: center;
        gap: 14px;
    }
    .footer-nav {
        display: flex;
        align-items: center;
        gap: 40px;
    }
    .footer-nav a {
        margin: 0;
    }
    .footer-bottom {
        flex-direction: column-reverse;
        gap: 20px;
    }
    .footer-bottom p{
        margin-left: 0;
    }
    .footer-bottom .social-icons {
        display: flex;
        gap: 40px;
    }
}